#Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/

# Data
data/raw/*
data/processed/*

# Model artifacts
models/*
*.pt
*.pth
*.onnx

# Generated reports
reports/*

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# OS
.DS_Store